* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* BODY */

body {
    background-image: url("../assets/img/wall.png");
    position: relative;
}

/* OVERLAY */

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.overlay-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.exit {
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 4px;
    cursor: move;
}

/* PROVA PER SELEZIONARE TUTTO QUELLO CHE NON È IMMAGINE DENTRO IL DIV OVERLAY
TEST FALLITO :( PRENDE ANCHE L'IMMAGINE */
div.overlay> :not(img) {
    color: black;
    background-color: red;
}

/* MAIN */

main h1 {
    font-family: Edu TAS Beginner;
    font-size: 3rem;
    margin: 0 auto;
    width: fit-content;
    padding: 12px 0;
}

/* SECTION ALBUM */

.album {
    padding-top: 24px;
    min-height: calc(100vh - 24px - 3rem - 14px);
    background-image: url("../assets/img/cork.png");
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

/* POSTS */

/* setta l'ombra dell immagine */
.post {
    width: fit-content;
    max-width: 75%;
    min-width: 300px;
    height: fit-content;
    padding: 12px 24px;
    background-color: #fff;
    position: relative;
}

/*
ruota l'immagine di 10 gradi 
zoom dell'immagine
aumenta l'ombra
*/
/* fun animation 4 rotate card 10deg  */
@keyframes rotate10 {
    0% {
        rotate: 0deg
    }

    100% {
        rotate: 10deg
    }
}

/*
in mouse hover animation rotate card 10deg

*/
.post:hover {
    animation-name: rotate10;
    animation-duration: 2s;
    rotate: 10deg;
    box-shadow: 5px 5px #000;
    zoom: 1.1;
}

/*in mouse hover element before display one*/
.post:hover::before {
    display: none;
}

.post::before {
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/img/pin.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.post img {
    width: fit-content;
}

.post p {
    font-family: Sometype Mono;
    font-style: italic;
}

.garbage {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

/* GENERAL */

.d-none {
    display: none;
}


/*non serve più*/
/* .stop-scroll {
    overflow: hidden;
} */

@media screen and (min-width: 799px) {
    .album {
        display: flex;
        flex-wrap: wrap;
    }

    .post {
        width: calc(75% / 2);
    }
}

@media screen and (min-width: 1199px) {
    .album {
        display: flex;
        flex-wrap: wrap;
    }

    .post {
        width: calc(75% / 3);
    }
}